SECRET_KEY=django-insecure-g51#ldei$@y)p56ynbbs3$=mwbqvjgt$sba0cvona!82r@oyud
POSTGRES_PASSWORD=postgres
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=186867112167-t5c9cvkk4lmqa2mchba6549g1nd1vco5.apps.googleusercontent.com
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=TvJBG9MuHKYQ7ztI73yA42Go
TWITTER_API_KEY=W2mDDh5w4BHZblR9tGiTOiHG0
TWITTER_API_KEY_SECRET=F9IPLi9VBWNTjDz2X6HVgQWVE4zQIdjTqEKOIsVuprj8VQB8WH
TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAD4NawEAAAAAOXkc2bYfMvh4QFxQy4kN02RbnvU%3DIQdQAdMdhemq07HCrqyuTdqaDNAp1CdEOeT0NgskgU5V2YdSID
TWITTER_ACCESS_TOKEN=1507008482481868820-zfm9W8VhFSbXzYtkgTKS8w0zOFfO4O
TWITTER_ACCESS_TOKEN_SECRET=3RXm3LJ0oS9E4yuqByvwNFAlEmisjNUe43fXfTialHyn6