{% extends 'index.html' %}

{% block content %}

<DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home | Cryptians</title>
    
        <style>
            .chart {
                height: 800px;
            }
        </style>
    </head>
    <body class="bg">
        <div class="container-lg">
     
              <div class="table-wrapper">
                <h1>REAL TIME GRAPH </h1>

                    <div class="card-body">
                        <div class="row g-0" style="height: 80%;">
                            <div class="col-md-8">
                                <div class="tradingview-widget-container">
                                    <div id="tradingview_74048"></div>
                                    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BITFINEX-BTCUSD/" rel="noopener" target="_blank"><span class="blue-text">IOTUSD Chart</span></a> by TradingView</div>
                                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                    <script type="text/javascript">
                                    new TradingView.widget(
                                    {
                                    "autosize": true,
                                    "symbol": "BINANCE:BTCUSD",
                                    "interval": "D",
                                    "timezone": "Europe/Zurich",
                                    "theme": "Dark",
                                    "style": "1",
                                    "locale": "en",
                                    "toolbar_bg": "#f1f3f6",
                                    "enable_publishing": false,
                                    "hide_side_toolbar": false,
                                    "allow_symbol_change": true,
                                    "studies": [
                                    "StochasticRSI@tv-basicstudies"
                                    ],
                                    "container_id": "tradingview_74048"
                                }
                                    );
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-4 ps-md-3 pt-3 pt-md-0 d-flex flex-column">
                                <div class="tradingview-widget-container">
                                    <div class="tradingview-widget-container__widget"></div>
                                    <div class="tradingview-widget-copyright"></div>
                                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js" async>
                                    {
                                    "symbol":"BINANCE:BTCUSD",
                                    "width": "100%",
                                    "colorTheme": "dark",
                                    "isTransparent": false,
                                    "locale": "en"
                                }
                                    </script>
                                </div>

                                <div class="tradingview-widget-container">
                                    <div class="tradingview-widget-container__widget"></div>
                                    <div class="tradingview-widget-copyright"></div>
                                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js" async>
                                    {
                                    "symbol":"BINANCE:ETHUSD",
                                    "width": "100%",
                                    "colorTheme": "dark",
                                    "isTransparent": false,
                                    "locale": "en"
                                }
                                    </script>
                                </div>

                                <div class="tradingview-widget-container">
                                    <div class="tradingview-widget-container__widget"></div>
                                    <div class="tradingview-widget-copyright"></div>
                                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js" async>
                                    {
                                    "symbol":"BINANCE:BNBUSD",
                                    "width": "100%",
                                    "colorTheme": "dark",
                                    "isTransparent": false,
                                    "locale": "en"
                                }
                                    </script>
                                </div>

                                <div class="tradingview-widget-container">
                                    <div class="tradingview-widget-container__widget"></div>
                                    <div class="tradingview-widget-copyright"></div>
                                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js" async>
                                    {
                                    "symbol":"BINANCE:ADAUSD",
                                    "width": "100%",
                                    "colorTheme": "dark",
                                    "isTransparent": false,
                                    "locale": "en"
                                }
                                    </script>
                                </div>

                                <div class="tradingview-widget-container">
                                    <div class="tradingview-widget-container__widget"></div>
                                    <div class="tradingview-widget-copyright"></div>
                                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js" async>
                                    {
                                    "symbol":"BINANCE:LTCUSD",
                                    "width": "100%",
                                    "colorTheme": "dark",
                                    "isTransparent": false,
                                    "locale": "en"
                                }
                                    </script>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                
                </div>

    </body>
</html>
{% endblock %}