{% extends 'index.html' %}
{% block content %}
<DOCTYPE html>
<html lang="en">
<head>
    <mate charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETH 1D LSTM | Cryptians</title>
</head>
<body>
    <div class="table-wrapper">
        <nav aria-label="breadcrumb" style="margin-bottom: 30px;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/predict">Prediction</a></li>
                <li class="breadcrumb-item active" aria-current="page">ETH 1d | LSTM</li>
            </ol>
        </nav>
        <div>
            <h1>Predict Ethereum 1 day with "Long short-term memory" </h1>
            {{ lstm_eth_1D | safe}}
        </div>  
    </div>
</body>
</html>
{% endblock %}